<div class="Container-fluid " style="padding: 0px 30px;">
    <div class="Container-fluid d-flex justify-content-around align-items-center average-header" style="padding: 10px 0px;">
      <div class="text-center col-lg-2 ">
        <div class="average-header-maintext color-green">0.94 %</div>
        <div class="average-header-subHeading text-muted">5 Mins</div>
      </div>
      <div class="text-center col-lg-2  ">
        <div class="average-header-maintext color-green">1.24 %</div>
        <div class="average-header-subHeading text-muted">1 Hour</div>
      </div>
      <div style="max-width: 40%;" class="col-lg-4 ">
        <div class="text-center font-32 average-block">
          <div class="average-subText"><span class="subText-heading text-muted">Best Price to Trade</span></div>
          <div class="average-heading" style="padding-bottom: 10px;">₹ 26,28,232</div>
          <div class="average-subText text-muted">Average BTC/INR net price including commission</div>
        </div>
      </div>
      <div class="text-center col-lg-2 ">
        <div class="average-header-maintext color-green">8 %</div>
        <div class="average-header-subHeading text-muted">1 Day</div>
      </div>
      <div class="text-center col-lg-2 ">
        <div class="average-header-maintext color-green">13.83 %</div>
        <div class="average-header-subHeading text-muted">7 Days</div>
      </div>
    </div>
  </div>